@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body, html {
    height: 100%;

}

content
{
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 4.9vw;
  }

@media screen and (max-width: 450px) 
{
    h1 {
        font-size: 4.5vh
    }
}

h3 
{
    font-family: 'Dosis', sans-serif;
}


/*css code for hero image + hero text from WS3 Schools https://www.w3schools.com/howto/howto_css_hero_image.asp*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/megan-jones/image/upload/v1649039829/anotherkingfisher_vv5xjz.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#map 
{
    height: 500px;
    width: 500px;
}

.card-name
{
    font-weight: 500 !important;
}

.record-buffer
{
    margin-top: 100px;
}

.bird-card
{
    width:60%;
    height:60%;
}

.full-record 
{
    /*width: 100%;
    height: 100%;*/
    margin-top: 10px;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}