{% extends "base.html" %}

<!--META INFORMATION FOR ADD RECORD PAGE-->
{% block meta %}
<meta name="description" content="Add a record of a bird you have spotted to your Nature Adventure account.">
{% endblock %}

{% block content %}

<h3 class="center-align">Add a New Record</h3>
<div class="container">
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_record') }}">
            <div class="row">
                <!--INPUT FOR ADDING BIRD NAME-->
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input type="text" id="autocomplete-input" class="autocomplete" name="autocomplete_input">
                    <label for="autocomplete-input" class="black-text">What did you spot?</label>
                </div>
                <!--INPUT FOR DATE SEEN-->
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="date_seen" name="date_seen" type="text" class="datepicker" required>
                    <label for="date_seen" class="black-text">When did you spot it?</label>
                </div>
            </div>
            <div class="row">
                <!--INPUT FOR ADDING NOTES-->
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input type="text" id="notes" name="notes" maxlength="250">
                    <label for="notes" class="black-text">Notes</label>
                </div>
            </div> 
            <!--MAP SECTION-->
            <div class="row">   
                <div class="col s12 center-align">
                    <div id="map"></div>
                <input id="location" name="location" type="hidden" value=""/>
                </div>
            </div>
            <!--SUBMIT BUTTON-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large blue darken-2 text-shadow">
                        Submit Record <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
            <!--LATITUDE + LONGITUDE INFO-->
            <div class="row">
                <label for="txtLat" class="black-text">Latitude:</label>
                <input id="txtLat" type="text" name="txtLat" style="color:red" value="28.47399" />

                <label for="txtLng" class="black-text">Longitude:</label>
                <input id="txtLng" name="txtLng" type="text" style="color:red" value="77.026489" /><br />
            </div>
        </form>
    </div>
</div>
{% endblock %}

