{% extends "base.html" %}

<!--META INFORMATION FOR RECORD EDITING PAGES-->
{% block meta %}
<meta name="description" content="Edit a record of a bird you have recorded in your Nature Adventure account.">
{% endblock %}

{% block content %}

    <!--MAIN HEADING-->
    <h3 class="center-align">Edit A Record</h3>

    <!--EDIT FORM-->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_record', record_id=record._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input type="text" id="autocomplete-input" class="autocomplete" name="autocomplete_input"
                    value="{{ record.name }}">
                    <label for="autocomplete-input">What did you see?</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="date_seen" name="date_seen" type="text" class="datepicker" value="{{ record.date_seen }}" required>
                    <label for="date_seen">When did you spot it?</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <div id="map"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Record <i class="fas fa-plus-square right"></i>
                    </button>
                    <a href="{{ url_for('get_full_record', record_id=record._id) }}" class="btn-large red text-shadow">Cancel Changes</a>
                </div>
            </div>
            <div class="row">
                <input id="latitude" type="text" name="latitude" style="color:red" value="28.47399"/>
                <label for="latitude">Latitude:</label>

                <input id="longitude" name="longitude" type="text" style="color:red" value="77.026489"/><br />
                <label for="longitude">Longitude:</label>
                
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/custom.js') }}" async></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api}}&v=weekly" async></script> 

{% endblock %}
