{% extends "base.html" %}
{% block meta %}
<meta name="description" content="View the full details of {{ bird.animal_name }} at Nature Adventure.">
{% endblock %}

{% block content %}

<div class="row record-buffer">
    <div class="col s8 offset-s2">
      <img src="{{ bird.pic }}" class="center responsive-img" alt="illustration of {{ bird.name }}">
      <span class="card-title black-text card-name">{{ bird.animal_name }}</span>
      <p>{{ bird.summary }}</p>
    </div>
  </div>
  
{% endblock %}