{% extends "base.html" %}
{% block content %}

<div class="row" onload="showLocation()">
    <div class="col s8 offset-s2">
      <img src="{{ current_record.pic }}" class="center responsive-img">
      <span class="card-title black-text card-name">{{ current_record.name }}</span>
      <p>{{ current_record.summary }}</p>
    </div>
    <div class="col s8 offset-s2 center" id="map">
    </div>
    <div class="col s8 offset-s2">
      <p>Date Seen: {{ current_record.date_seen }}</p>
    </div>
    <div class="col s8 offset-s2">
      <p>Recorded By: {{ current_record.author }}</p>
    </div>
    <div class="col s8 offset-s2">
      {% if session.user|lower == current_record.author|lower %}
      <a href="{{ url_for('edit_record', record_id=current_record._id ) }}" class="waves-effect waves-light btn">Edit</a>
      <a href="{{ url_for('delete_record', record_id=current_record._id ) }}" class="waves-effect waves-light btn">Delete</a>
      {% endif %}
    </div>
  </div>
  

  

{% endblock %}