<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" 
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Home</title>
</head>
<body>

    <header>
        <nav>
          <!--main navbar for site viewed on larger screens-->
            <div class="nav-wrapper green darken-1">
              <a href="{{ url_for('get_home') }}" class="brand-logo">Nature Adventure</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_home') }}">Home</a></li>
                <li><a href="#">My Finds</a></li>
                <li><a href="#">What to See Now</a></li>
                <li><a href="#">Facts</a></li>
                <li><a href="#">Log Out</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
              </ul>
            </div>
          </nav>
          
          <!--side navbar for site viewed on smaller screens-->
          <ul class="sidenav green darken-1" id="mobile-demo">
            <li><a href="{{ url_for('get_home') }}">Home</a></li>
            <li><a href="#">My Finds</a></li>
            <li><a href="#">What to See Now</a></li>
            <li><a href="#">Facts</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Register</a></li>
          </ul> 
    </header>

    <div class="hero-image">
      <img src= "https://res.cloudinary.com/megan-jones/image/upload/v1647698095/vincent-van-zalinge-vUNQaTtZeOo-unsplash_e284bw.jpg" width= "100%"/>
    </div>


    <!--first row of creatures-->
    <div class="row">
      {% for creature in creatures %}
      <div class="col s12 m4 xl2">
        <div class="card medium">
          <div class="card-image">
            <img src="{{ creature.pic }}">
            <span class="card-title black-text card-name">{{ creature.name }}</span>
          </div>
          <div class="card-content black-text">
            <p>{{ creature.summary }}</p>
          </div>
          <div class="card-action">
            <a href="#">Read More...</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>