{% extends "base.html" %}
{% block content %}
<!--main content for home page only-->


  <!-- background image -->
<div class="hero">

</div>
             

<!--creatures grid-->
  <div class="row">
    <div class="col s12">
      <h3>Recently Added Records</h3>
    </div>
  </div>
  <div class="row">
  {% for record in recent_records %}
  <!--first row of creatures - LATEST RECORDS (NOT COMPLETED YET)-->
    <div class="col s12 m4 xl2">
      <div class="card medium">
        <div class="card-image center bird-card">
          <img src="{{ record.pic }}">
          <span class="card-title black-text card-name">{{ record.name }}</span>
        </div>
        <div class="card-content black-text">
          <p class="truncate">{{ record.summary }}</p>
        </div>
        <div class="card-action">
          <a href="#">Read More...</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  

{% endblock %}