{% extends "base.html" %}
{% block content %}
<!--main content for home page only-->


  <!-- background image -->
<img class="gfg" src="https://res.cloudinary.com/megan-jones/image/upload/v1647698095/vincent-van-zalinge-vUNQaTtZeOo-unsplash_e284bw.jpg">


             

<!--creatures grid-->
  
  <div class="row">
  {% for creature in creatures %}
  <!--first row of creatures - LATEST RECORDS (NOT COMPLETED YET)-->
    <div class="col s12 m4 xl2">
      <div class="card medium">
        <div class="card-image">
          <img src="{{ creature.pic }}">
          <span class="card-title black-text card-name">{{ creature.animal_name }}</span>
        </div>
        <div class="card-content black-text">
          <p>{{ creature.summary }}</p>
        </div>
        <div class="card-action">
          <a href="#">Read More...</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  

{% endblock %}